/*General*/
.float-left
{
    float:left;
}

.float-right
{
    float:right;
}

.clear
{
    clear:both;
}

a
{
    text-decoration:none;
    color:#518CF2;
}

a:hover
{
    text-decoration:underline;
}

li , ul
{
   list-style-type:none;
   margin: 0px;
   padding:0px
}


body
{

}

#page
{
    width:1000px;
    margin:auto;
    background: white;
    border:1px solid #DEDEDE;
}

/*Header*/

h1
{
    color:#FF893A;
}

/*Menu*/
#menu
{
    padding-top:10px;
    padding-bottom:30px;
}

.menu_item
{
    margin-right: 10px;
}

